<% if flash[:notice] %>
  <div class="container">
    <div class="notification is-success global-notification my-10" >
      <p class="notice"><%= notice %></p>
      <button class="delete" onclick="this.parentElement.style.display='none'" ></button>
    </div>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="container">
    <div class="notification is-danger global-notification my-10" >
      <p class="alert"><%= alert %></p>
      <button class="delete" onclick="this.parentElement.style.display='none'" ></button>
    </div>
  </div>
<% end %>